
<div class = "row">
  <div class= "col-md-8">

    <%= render partial: 'votes/voter', locals: { topic: @topic, post: @post} %>
    <h1><%= markdown @post.title %></h1>

    
    <small>
      <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by
      <%= @post.user.name %>
    </small>



    <p><%= markdown @post.body %></p>
    <br>


    <!-- Edit Post Button -->
    <% if policy(@post).edit? %>
      <%= link_to "Edit Post", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
    <% end %> 
    <!-- End of Post Edit Button -->

    <!-- Delete Post Button -->
    <% if policy(@post).destroy? %>
      <%= link_to "Delete Post", [@topic, @post], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this post?'} %>
    <% end %>
    <!-- End of Delete Post Button -->

    <div>
      <h3><%= pluralize(@post.points, 'point') %></h3>
      <small>
        <%= pluralize(@post.up_votes, 'up vote') %>,
        <%= pluralize(@post.down_votes, 'down vote') %>
      </small>
    </div>
    
    <hr> 
    
    <!-- New Comment Area -->
    <% if policy(Comment.new).create? %>
      <%= render partial: "comments/form", locals: { topic: @topic, post: @post, comment: @comment } %>
    <% end %>
    <br>
    <!-- End of New Comment -->

    

    <!-- Comments Area -->
    <%= render partial: "comments/comments", locals: { post: @post, comments: @post.comments } %>
    <!-- End ofComments Area -->
    <%= will_paginate @comments %>


  </div>


  <!-- Post Image Here -->
  <div class= "col-md-4">
  <%= image_tag(@post.postimage.url, class:"img-rounded") if @post.postimage? %>
  <!-- End of Image Here -->
  </div>


</div>

